* {
  font-family: 'Basic', sans-serif;
}

h1 {
  text-align: center;
  font-size: 175%;
  margin: 60px
}

div {
  box-sizing: border-box;
}
.outer {
  background-color: #999999;
  border: 2px solid black;
  margin: 20px;
  padding: 0px 10px 10px 10px;
  position: relative;
}
.pad{
  height: 30px;
}
.inner{
  font-weight: bold;
  font-size: 125%;
  position: absolute;
  top:0px;
  right:0px;
  text-align: center;
  width: 120px;
  border-top: 0px;
  border-right: 0px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#chicken {
  background-color: #D59898;
}
#beef {
  background-color: #C14543;
}
#sushi {
  background-color: #E5D198;
}


@media (min-width: 992px) {

  .col-lg-4 {
    float: left;
    width: 30%;
    margin: 1% 1% 1% 1%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 48%;
    margin: 1% 1% 1% 1%;
  }

  .col-md-12 {
    width: 98%;
    margin: 1% 1% 1% 1%;
  }

}
